{% extends "automationportal/header.html" %}

{% block content %}
<table cellpadding="30px">
    <tr>
      <th style="border: 1px solid black; padding: 5px; ">Connection Type</th>
      <th style="border: 1px solid black; padding: 5px; ">Device Name</th>
      <th style="border: 1px solid black; padding: 5px; ">Device Interface</th>
      <th style="border: 1px solid black; padding: 5px; ">IP Address</th>
      <th style="border: 1px solid black; padding: 5px; ">MAC Address</th>
      <th style="border: 1px solid black; padding: 5px; ">Associated AP (wifi only)</th>
    </tr>
    <tr>
        {% for item in primeResult %}
          {% if item == "-" %}
            <td style="border:0;"></td>
            </tr>
            <tr>
          {% else %}
            <td style="border: 1px solid black; padding: 5px; ">
              {{ item }}
            </td>
          {% endif %}
        {% endfor %}
    </tr>
</table>
<br/>
<form action="/getclientdetails/">
    <input type="submit" value="Find Another Endpoint" />
</form>
<br/>
<form action="/">
    <input type="submit" value="Exit" />
</form>
<br/>

{% endblock %}
