{% extends "automationportal/header.html" %}
{% load staticfiles %}

{% block content %}

<p>Welcome to the Washington University Network Automation Portal!</p>

{% include "automationportal/includes/htmlsnippet.html" %}

<p>

<!--<img src="{% static 'automationportal/img/netbrainlogo.png' %}" class="responsive-img" style="max-height:76px; padding-top:10px; padding-left:7px;" alt="netbrain"/> 
<img src="{% static 'automationportal/img/ciscoprimelogo.png' %}" class="responsive-img" style="max-height:66px; padding-top:10px; padding-left:7px;" alt="prime"/> 
<img src="{% static 'automationportal/img/ciscoiselogo.png' %}" class="responsive-img" style="max-height:50px; padding-top:10px; padding-left:7px;" alt="ISE"/> -->
{% endblock %} 
